.diary {
  max-width: 100%;
  overflow-x: hidden;
}


.hideGreetingMobileTablet {
  position: relative;
}

@media only screen and (max-width: 1439px) {
  .hideGreetingMobileTablet .greeting {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .content {
    gap: 32px;
  }
}

.desktopList {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .diary {
    overflow-x: visible;
  }

  .content {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }

  .desktopList {
    display: block;
    flex-shrink: 0;
  }
}
