.googleButtonWrapper {
  position: relative;
  width: 100%;
  height: 42px;
  cursor: pointer;
}

.googleButtonWrapper:hover .button,
.googleButtonWrapper:focus-within .button {
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  background: var(--color-scheme-foreground);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.googleButtonWrapper:active .button {
  transform: translateY(0);
  background: var(--color-scheme-accent);
}

.hiddenGoogleButton {
  position: absolute;
  inset: 0;
  opacity: 0.01;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.hiddenGoogleButton > div,
.hiddenGoogleButton iframe {
  width: 100% !important;
  height: 100% !important;
  cursor: pointer;
}

.button {
  width: 100%;
  height: 42px;
}
