.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 312px;
  height: 680px;
}

.item {
  width: 280px;
  height: 40px;
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;

  text-decoration: none;
  color: var(--color-neutral-dark);
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.link:hover {
  background: var(--color-neutral-lightest);
}

.active {
  background: var(--color-pastel-pink-lighter);
  color: var(--color-pastel-pink-darkest);
}

.icon {
  width: 24px;
  height: 24px;

  fill: currentColor;
}
