.diary {
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


@media only screen and (min-width: 1440px) {
  .diary {
    overflow-x: visible;
  }

  .content {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }

  .desktopList {
    display: block;
    flex-shrink: 0;
  }
}
