.status_text_name{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: var(--color-scheme-text);
}

.status_text{
font-family: var(--second-family);
font-weight: 700;
font-size: 40px;
line-height: 120%;
letter-spacing: 0.01em;
color: var(--color-scheme-text);
}
.status_block{
    display: flex;
    flex-direction: row;
    gap:16px;
    padding-top: 16px;
}
.status{
    border: 0px solid var(--color-scheme-border);
border-radius: 32px;
padding: 16px;
width: 159px;
height: 105px;
background: var(--color-scheme-foreground);
}

/* Styles for tablet */
@media only screen and (min-width: 768px) {
  .status_block{
    gap: 32px;
  }
  .status{
    width: 336px;
    height: 105px;
  }
}

/* Styles for desktop */
@media only screen and (min-width: 1440px) {
  .status{
    width: 305px;
    height: 127px;
  }
  .status_text{
    font-size: 56px
  }
  .status_text_name{
    font-size: 16px;
  }
  .status_block{
    justify-content: flex-start;
  }
}
