.nav {
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 0px;
  margin-bottom: 16px;
}
.list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
}

.link:hover,
.link:focus-visible {
  text-decoration: none;
  outline: none;
}

.current {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;

  color: var(--color-neutral);
}

.arrow {
  display: block;
  stroke: var(--color-scheme-text);
  padding: 6.17px;
}

@media only screen and (min-width: 768px) {
  .nav {
    margin-top: 0px;
    margin-bottom: 16px;
  }
}

/* Styles for desktop */
@media only screen and (min-width: 1440px) {
  .nav {
    padding-left: 0px;
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
