.containerTwo {
  width: 100%;
  display: block;
}

.containerRegister {
  min-height: 100vh;
  background: var(--color-scheme-background);
  display: flex;
  flex-direction: column;
}

.fieldWrapper {
  position: relative;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.logoContainer {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  margin-bottom: 139px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 32px;
  text-align: center;
}

.formCont {
  width: 100%;
  max-width: 415px;
}

.form {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  line-height: 21px;
}

.input {
  width: 100%;
}

.inputInvalid {
  border: 1px solid var(--color-red);
}

.inputError {
  border: 2px solid var(--color-red);
  animation: shake 0.3s ease-in-out;
}

.error {
  position: absolute;
  bottom: -20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-red);
}

.button {
  width: 100%;
  height: 42px;
}

.background {
  display: none;
}

p:last-child {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-4px);
  }

  40% {
    transform: translateX(4px);
  }

  60% {
    transform: translateX(-4px);
  }

  80% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .containerTwo {
    margin-bottom: 197.5px;
  }

  .formCont {
    max-width: 450px;
    margin: 0 auto;
  }

  .form {
    max-width: 450px;
  }

  .label {
    width: 100%;
  }

  .button {
    max-width: 450px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    align-items: center;
  }

  .containerRegister {
    min-height: auto;
    flex-direction: row;
    align-items: flex-start;
  }

  .containerTwo {
    width: 720px;
    flex: 0 0 720px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .logoContainer {
    padding-left: 64px;
  }

  .formCont {
    max-width: 450px;
    margin: 0 auto;
  }
  p:last-child {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    font-weight: 400;
    font-size: 16px;
  }

  .background {
    display: block;
    width: 720px;
    flex: 0 0 720px;
    height: 900px;
    background-image: url('/images/nest.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
