.card {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  min-height: 193px;
  border-radius: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--color-scheme-foreground);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contentText {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}
.noDiaryTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}
.noDiaryText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}
.noDiary {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-text);
}
.createDiaryButton {
  width: 228px;
  height: 42px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}
.card h3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

@media (min-width: 768px) {
  .card {
    width: 100%;
    max-width: none;
  }
}

@media (min-width: 1440px) {
  .card {
    max-width: 390px;
    min-height: 210px;
    margin: 0;
  }

  .card h3 {
    font-size: 24px;
  }

  .createDiaryButton {
    width: 250px;
    height: 46px;
  }

  .noDiary {
    line-height: 160%;
  }
}
